{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block content %}
    <h2>Product Information</h2>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Product</th>
                <th>Stock</th>
                <th>Base Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ "{:,.0f}".format(product.stock) }}</td>
                <td>{{ "{:,.0f}".format(product.base_price) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}